.message {
    display: flex;
    align-items: flex-end;

    margin: 10px;
}

.avatar {
    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.content {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: greenyellow;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, greenyellow);
}

.text {
    min-width: 150px;
    max-width: 500px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: crimson;
}

.time {
    display: flex;
    justify-content: flex-end;

    color: crimson;
}

